//기본 background 색상
$white = #fff
$white_hover = #f3f3f3

//status
$alert = #eb4324
$success = #13bf61

//overlay background
$overlay = rgba(0, 0, 0, 0.4)

// 화면 임시로 뜨는 component의 background 색상 - toast, tooltip
$gray90 = #252525

// 클릭 영역을 나타내는 container 색상
$transparent = rgba(255, 255, 255, 0)

$primary = #0E62FE
$primary_hover = #4489ff
$primary_disabled = #a5c8ff
$primary_icon = #fff
$primary_text = #fff

// Secondary - activated, selected, enabled
// 32px 이하의 작은 component의 배경 색상
// 4px 이하의 직선 component의 배경 색상 - 구분선
$secondary = #151515
$secondary_hover = #252525
$secondary_text_hover = #f3f3f3
$secondary_dsiabled = #c5c5c5
$secondary_icon = #fff
$secondary_text = #fff

$basic_border = #c5c5c5
$basic_border_hover = #A7A7A7
$basic_border_Disabled = #dfdfdf

$icon_primary = #151515
$icon_secondary = #6e6e6e

$text_primary = #151515
$text_secondary = #6e6e6e
$text_placeholer = #a7a7a7

// 디자인 시스템에 있지만 안쓸 거 같은..
$hover-04 = #c5c5c5
$hover-05 = #f3f3f3

$background = #2f3136;
$background-hover = #202226;
$box-main = #36393f;

$blue-main = #007bff;
$blue-main-hover = #0b5ed7;
$tertiary = #525252;

// Media
$media = {
  mobile  : "screen and (max-width: 480px)",
  tablet  : "screen and (min-width: 481px) and (max-width: 960px)",
  desktop : "screen and (min-width: 961px)"
}